body {
  width: 1920px;
  height: 1080px;
  background-color: rgba(40,25,54,255);
  overflow-x: hidden; 
  position: relative;
 
}
h1{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  padding-left: 50px;
  margin-top: 50px;
}

#menuButton {
  position: absolute;
  top: 10px;
  left: 450px;
  z-index: 1100;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 28px;
  color: white;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 27px;
  margin-right: 1870px;
}
.cs{
 font-size: 70px;
 padding-left: 70px;
 margin-top: -10px;
 color: white;

 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
  font-size: 33px;
  color: #7d65b3;
  margin-top: -60px;
  margin-bottom: 0;
  padding-left: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.presentazione{
  font-size: 28px;
  padding-left:70px ;
  color: white;
  
  font-weight: 400;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cf{
  font-size: 55px;
  padding-left: 70px;
 margin-top: 100px;
 color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.sito{
  font-size: 40px;
 padding-left: 70px;
 margin-top: 500px;
 color: white;

 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.raccontaci{
    font-size: 30px;
 padding-left: 70px;
 margin-top: -20px;
 color: white;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.idee2 {
  background-color: #4d3c7256;
  position: absolute;
  top: 600px;
  left: 60px;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 10;
  height: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.idee2:hover {
  background-color: rgba(109, 91, 158, 0.25);
  box-shadow: 0 0 30px rgba(255, 220, 125, 0.142), 0 0 60px rgba(255, 220, 125, 0.1);
  transform: scale(1.03); 
}
.monitor{

  left: 150px;
  position: absolute;
  top: 30px;
}
.js{
  font-size: 18px;
  color: white;
  margin: 0;
  line-height: 1.4;
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.codice2:hover {
  background-color: rgba(109, 91, 158, 0.25);
  box-shadow: 0 0 30px rgba(255, 220, 125, 0.142), 0 0 60px rgba(255, 220, 125, 0.1);
  transform: scale(1.03); 
}
.codice2{
   background-color: #4d3c7256;
  position: absolute;
  top: 600px;
  left: 1040px;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 10;
  height: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.codice{
  font-size: 30px;
  margin-top: 140px;
  margin-bottom: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.chiave{
  
  left: 150px;
  position: absolute;
  top: 30px;
}
.palette{
   font-size: 18px;
  color: white;
  margin: 0;
  line-height: 1.4;
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bottone-contattaci {
  position: absolute;
  font-size: 35px;
  border-radius: 15px;
 width: 450px;
  height: 100px;
  background-color: #7054a4;
  border: 0;
  color: white;
  text-align: center;
  left: 850px;
  font-weight:bold;
  margin-top: -120px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.guarda{
  position: absolute;
  font-size: 30px;
  font-weight: 550;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  background-color: #40245cb9;
  border: 0;
  color: white;
  text-align: center;
  margin-top: -120px;
  margin-left:1350px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.casella {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
 
}

.casella.show {
  opacity: 1;
  visibility: visible;
}
.casella{
  background-color:rgba(37, 37, 37, 0.934);
  width: 700px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  text-align: center;
  height: 400px;
  z-index: 100000;
  top: 500px;
  left: 900px;
  position: absolute;
  font-weight: 500;
  border-radius: 15px;
  color: white;
  visibility: hidden;
}
.contattaci{
  font-size: 40px;
}
.design{
    font-size: 30px;
  margin-top: 140px;
  margin-bottom: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.design2:hover {
  background-color: rgba(109, 91, 158, 0.25);
  box-shadow: 0 0 30px rgba(255, 220, 125, 0.142), 0 0 60px rgba(255, 220, 125, 0.1);
  transform: scale(1.03); 
}
.design2{
   background-color: #4d3c7256;
  position: absolute;
  top: 600px;
  left: 550px;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 10;
  height: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}




.lampadina {
  display: block;
  margin: 0 auto 20px auto;
  position: relative;
}

.idee {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p {
  font-size: 18px;
  color: white;
  margin: 0;
  line-height: 1.4;
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menuButton {
  position: absolute;
  top: 10px;
  left: 450px;
  z-index: 1100;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 28px;
  color: white;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 27px;
  margin-right: 1870px;
}
#languageButton {
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: none;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 600px;
  z-index: 1100;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 28px;
  color: white;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 27px;

}
#languageButton::after {
  content: "";
  position: absolute;
  left: 33%;
  bottom:1000px;
  width: 0;
  height: 30px;
  background-color: white;
  transform: translateX(-50%);
  transition: width 0.4s ease;
  z-index: 1000000;
}

#languageButton:hover::after {
  width: 5%;
}

label{
  width: 30px;
  height: 30px;
  
}
select{
  width: 100px;
  height: 35px;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: white ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
option{
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color:#301c34;
  border:transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#menuButton::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px; /* Posizioniamo la linea appena sotto il testo */
  width: 0;
  height: 3px;
  background-color: white;
  transform: translateX(-50%);
  transition: width 0.4s ease;
  z-index: -1; /* Assicura che sia sotto il testo */
}

#menuButton:hover::after {
  width: 100%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  margin: 40px 0;
}

nav ul li a {
  position: relative;
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: white;
  transition: width 0.4s ease, left 0.4s ease;
}

button::after {
  display: none !important;
}



nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
